// global colors
$white: #ffffff;
$buttercup: #f2b71d;
$mineShaft: #252525;
$silver: #bcbcbc;
$doveGray: #6b6b6b;
$shakespeare: #52b9cb;
$amethist: #be43cb;
$butteredRum: #a2790e;
$bahamaBlue: #03609f;
$kournikova: #fee478;
$capeCod: #373839;
$blackHaze: #e4e7e7;
$fuelYellow: #ebb024;
$russett: #7d5d57;
$fountainBlue: #4ebdc6;
$abbey: #4d5156;
$firefly: #0d2229;
$shark: #252627;
$calico: #e1c599;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';